/* #region other */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  min-height: 100vh;
}

/* button {
  
  font-family: inherit;
  color: currentColor;
    
} 
input {
  font-family: inherit;
}
*/

h1, h2, h3, h4, h5, h6, p {
  
  margin: 0;
  
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  
}

img {
  display: block;
  height: auto;
    max-width: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* #endregion other */



/* #region header */



.header {
 border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-logo {
  text-transform: uppercase;
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
  gap: 0;
}

.heder-logo-studio {
  color: #2e2f42;
}


.list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 40px;
}



.current {
  position: relative;
  

}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  background-color: #404bbf;
}

.header-item-studio {
  color: #2e2f42;
  padding: 24px 0;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.header-item-mail:hover,
.header-item-mail:active,
.header-item-mail:focus,
.header-item-studio:hover, 
.header-item-studio:active, 
.header-item-studio:focus,
.current {
  color: #404bbf;
  
}

.adress {
  font-style: normal;
  margin-left: auto;
  
}

.header-adress {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
   gap: 40px;
  display: flex;
}



.header-item-mail {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* #endregion header */



/* #region main */


/* #region hero */



.section-hero {
  background: #2E2F42;
 
  
}

.hero {
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)),
  url(../images/people-office-bg.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  max-width: 496px;
  line-height: 1.07;
  margin: 0 auto;  
  margin-bottom: 48px;
  
}

.hero-button {
  font-family:"Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4D5AE5;
  color: white;
  display: block;
  gap: 10px;
  border-radius: 4px;  
  width: 169px;
  height: 56px;
  min-width: 169px;   
  border: none;    
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  



.hero-button:hover, 
.hero-button:active,
.hero-button:focus
 {
  background-color: #404BBF;
  
}

/* #endregion hero */

/* #region section-2 */


.section-two {
  padding: 120px 0;
}





.list-section-two {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 24px;
  
  
}


.item-section-two {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  
}

.con-icons {
   background-color: #f4f4fd;
   max-width: 100%;
   height: 112px;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   margin-bottom: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icons{
   margin: 24px 100px;
}

.class-link-icon:hover,
.class-link-icon:focus {
  background-color: #404bbf;
}




.section-item-desk {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

margin-bottom: 8px;

}

.section-two-text{
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion section-2 */


/* #region our team */

.sectoin-our-team {
  background-color: #F4F4FD;
  padding: 120px 0;
  
  text-align: center;

}


.section-item-desk-our-team {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}


.list-team {
  display: flex;
  gap: 24px;

  
}


.item-our-team {
  background-color: #FFFFFF;
  width: calc((100% - 72px) /4); 
  border-radius: 0 0 4px 4px; 
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.con-team {
  padding: 32px 0;
}

 .our-team-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
 }

 svg {
  fill: currentColor;
 }
 

 .item-icon-team {
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #404BBF;


}

.list-icon {
   display: flex;
   gap: 24px;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   margin-top: 8px;
 }



  
 

 .icon-team {
  fill: #f4f4fd;
 }

.class-link-icon {
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

/* #endregion our team */

 /* #region Portfolio */


 .portfolio {
   padding-top: 120px;
   padding-bottom: 120px;
   align-items: center;
 }


.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   column-gap: 24px;
   row-gap: 48px;
 
}

.item-portfolio {
 width: calc((100% - 48px) /3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(0%);

}

.con-wrap:hover .portfolio-text {
  transform: translateY(0%);
}




.item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
    
}

.con-wrap {
  position: relative;
  overflow: hidden;

}

.portfolio-text  {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
}


.portfolio-text:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.con-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* #endregion Portfolio */


/* #endregion main */



/* #region footer */

.con-footer {
  display: flex;
  align-items: baseline;
}
.con-footer-text{
  margin-right: 120px
} 

.footer {
  background-color: #2E2F42;
  ;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  
  
 
}

.footer-logo-web {
  color: #F4F4FD;
}

.footer-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  
}



 .social-footer{
  width: 208px;

  
 }

.social-text {
  font-size: 16px;
  line-height: 1.5;  
  letter-spacing: 0.02em;  
  color: #FFFFFF; 

margin-bottom: 16px;
  font-weight: 500;
  
}
 .list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
 }

 .social-item {
  width: 40px;
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;
 }

.social-link {
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

background-color: #4d5ae5;
border-radius: 50%;
    
    
}

 .icon-social {
  fill: #f4f4fd;
  
 }


 
 
.social-link:hover,
.social-link:focus
 {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion footer */


/* #region modal */

/* #region icon */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;

visibility: hidden;
transition:
 opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
 visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}



.modal {
 
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  padding: 24px;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  overflow-y: auto;
  
}



.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  line-height: 0;
  cursor: pointer;   
  margin-left: auto; 

}


.icon-close {
  fill: #2e2f42;
 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}


.btn-close:hover,
.btn-close:focus {
  
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}



.btn-close:hover .icon-close {
  fill: #ffffff;
}

.btn-close:focus .icon-close {
fill: #ffffff;
}

.icon-close:hover,
.icon-close:focus {
 fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}








.text-modal {
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 360px;
  margin-bottom: 16px;     
}




/* #endregion icon */

 /* #region inputs */ 


.form-modal {
  display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
 gap: 8px;
}

 

.con-modal {
  width: 360px;
  height: 58px;
  margin-bottom: 8px;
}



.label-form {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  width: 100%;
}

.con-input {
  position: relative;
}

.inp-modal{

  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.inp-modal:focus {
  border-color: #4D5AE5;
}

.inp-modal:focus + .icon-modal {
  fill: #4d5ae5;
}



.textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.textarea:focus {
 
  border-color: #4d5ae5;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}




.input-check:checked + .label-check > .cust-checkbox {
  border-color: transparent;
  background-color: #404bbf;
}

.input-check {
  
}


.label-check {
  cursor: pointer;
  margin-bottom: 24px;
}

.cust-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-yes {
  fill: #f4f4fd;
}


.privacy {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}


.btn-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none; 
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
  background-color: #404bbf;
}

/* #endregion inputs */


/* #endregion modal */ 





