.style {
  display: none;
}

/* #region other */


body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media  screen and (min-width:768px) {
  .container {
      max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
  .container {
   max-width: 1158px;
    padding: 0 15px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* #endregion other */
     


      /* #region main */

/* #region hero */


.section-hero {
  background-color: #2E2F42;
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .section-hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-mob2x.jpg);
  }
}

@media screen and (min-width:768px) {
.section-hero {
  padding:  112px 0;
  
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-tab1x.jpg);
}
 @media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-tab2x.jpg);
  }
} 
}



@media screen and (min-width:1158px) {
  .section-hero {
    padding: 188px 0;
   
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero1x.jpg);
  }
@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .section-hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero2x.jpg);}
}
}





.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  max-width: 216px;
  line-height: 1.07;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .title-hero {
  font-size: 56px;
  max-width: 496px;  
  margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .title-hero {
    margin-bottom: 48px;
  }
}



.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4D5AE5;
  color:#FFFFFF;
  display: block;
  gap: 10px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  transition:
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: #404BBF;
}

/* #endregion hero */
   
/* #region section-2 */

.section-two {
  padding: 96px 16px;
}

@media screen and (min-width: 1158px) {
  .section-two {
      padding: 120px 156px;
    }
}


.list-section-two {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 72px;
  flex-wrap: wrap;
  
}

@media screen and (min-width: 768px) {
  .list-section-two{
   
   row-gap: 72px;
   column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .list-section-two {

    gap: 24px;
    
  }
}

.item-section-two {
  background-color: #FFFFFF;
  
}

@media screen and (min-width: 768px) {
  .item-section-two {
      background-color: #FFFFFF;
      width: calc((100% - 24px) / 2);
    }
}


@media screen and (min-width: 1158px) {
  .item-section-two {
      background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    gap: 8px;
    }
}


.icons {
 
  display: none;
}

@media screen and (min-width: 1158px) {
  .icons {
      display: block;
    }
}

@media screen and (min-width: 1158px) {
.con-icons {
  background-color: #f4f4fd;
  max-width: 100%;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

}

.section-two-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
.section-two-title {
  text-align: start;
}

}

@media screen and (min-width: 1158px) {
.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
}

.section-two-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px; 
}

@media screen and (min-width: 1158px) {
.section-two-text {
  font-weight: 400;

    }
}

/* #endregion main */

/* #region our team */

.sectoin-our-team {
  background-color: #F4F4FD;
  padding: 96px 0;
  text-align: center;

}

@media screen and (min-width: 1158px) {

.sectoin-our-team {
  padding: 120px 0;
}
}

.section-item-desk-our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
.list-team {
  row-gap: 64px;
  column-gap: 24px;
  width: 768px;

}
}

@media screen and (min-width: 1158px) {
  .list-team {
    gap: 24px;
    width: 1158px;
  }
}

.item-our-team {
  background-color: #FFFFFF;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  flex-direction: column;
  padding: 0px;   
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  display: flex;  
  align-items: center;
  justify-content: center; 
  
}




@media screen and (min-width: 768px) {
  .item-our-team {
    
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
.item-our-team {
  width: calc((100% - 72px) / 4);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}


.section-item-desk {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}


.con-team {
  padding: 32px 0;
}

.section-item-desk {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}



 .our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  text-align: center;
 }

 svg {
   fill: currentColor;
 }

 .list-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   margin-top: 8px; 
   gap: 24px;
 
 }

 .item-icon-team {
   width: 40px;
   height: 40px;
   border-radius: 50%;
  background-color:#4D5AE5;
   

 }

 .icon-team {
   fill: #f4f4fd;
 }



.class-link-icon {
 padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.class-link-icon:hover, 
.class-link-icon:focus {
  background-color: #404bbf; 
}

/* #endregion our team */
 
 /* #region Portfolio */

    .portfolio {
     padding: 96px 16px;
    
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
 }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

@media screen and (min-width: 768px) {
 .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
 }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
    }
}

.item-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .item-portfolio {
    width: calc((100% - 24px) /2);
  }
}

@media screen and (min-width: 1158px) {
  .item-portfolio {
      width: calc((100% - 48px) /3);
    }
}

.con-wrap:hover .portfolio-text {
  transform: translateY(0%);
}

.item-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
  0 1px 1px 0 rgba(46, 47, 66, 0.16),
   0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


@media screen and (min-width: 1158px) {
  .item-portfolio:hover {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

.con-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
}

.portfolio-text:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.con-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

/* #endregion Portfolio */

      /* #endregion main */

/* #region footer */

.footer {
  background-color: #2E2F42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .footer {
  padding-top: 100px;
  padding-bottom: 100px;
  } 
}

.con-footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.con-footer-text {
 max-width: 288px;
text-align: center;

}

@media screen and (min-width: 768px) {
  .con-footer-text {
  margin-right: 24px;
  max-width: 264px;
  text-align: left;
  margin-bottom: 72px;
  }
}


@media screen and (min-width: 1158px) {
  .con-footer-text {
  margin-right: 120px;
  margin-bottom: 0;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px; 

}



.footer-logo-web {
  color: #F4F4FD;
}

.footer-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-footer {
  min-width: 208px;
 }

.social-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .social-text {
    text-align: left;
  }
}

.list-social {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
 }

.social-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border-radius: 50%;
}

.icon-social {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.con-inp-footer {
  min-width: 288px;
  
}

@media screen and (min-width: 768px) {
  .con-inp-footer {
    min-width: 453px;
    
    }
}


@media screen and (min-width: 1158px) {
  .con-inp-footer {
    width: 453px;
      height: 80px;
      margin-left: 80px;
    }
}

.inp-text-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .inp-text-footer {
    text-align: left;
  }
}

.con-btn-form {
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .con-btn-form {
      gap: 24px;
      display: flex;
    }
}

.input-footer {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  opacity: 0.3;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .input-footer {
     width: 264px;
    
  }
}

.input::placeholder {
  color: #ffffff;
}

.btn-mail-footer {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4D5AE5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-telegramm {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}

.icon-telegramm:hover,
.icon-telegramm:focus {
  fill: #31d0aa;
}

.btn-mail-footer:focus .icon-telegramm,
.btn-mail-footer:hover .icon-telegramm {
  fill: #31d0aa;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-mail-footer:hover,
.btn-mail-footer:focus {
  color: #31d0aa;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:hover,
.input-footer:focus {
  border-color: #31d0aa;
}

/* #endregion footer */











@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1158px) {

}     


@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {

}


