
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  
  margin: 0;
  
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  
}

img {
  display: block;
  height: auto;
    max-width: 100%;
}


/* header-start */



.header {
 border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-logo {
  text-transform: uppercase;
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
  gap: 0;
}

.heder-logo-studio {
  color: #2e2f42;
}


.list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 40px;
}



.current {
  position: relative;
  

}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  background-color: #404bbf;
}

.header-item-studio {
  color: #2e2f42;
  padding: 24px 0;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.header-item-mail:hover,
.header-item-mail:active,
.header-item-mail:focus,
.header-item-studio:hover, 
.header-item-studio:active, 
.header-item-studio:focus,
.current {
  color: #404bbf;
  
}

.adress {
  font-style: normal;
  margin-left: auto;
  
}

.header-adress {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
   gap: 40px;
  display: flex;
}



.header-item-mail {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* header-end */



/* main */


/* hero */



.section-hero {
  background: #2E2F42;
 
  
}

.hero {
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)),
  url(../images/people-office-bg.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  max-width: 496px;
  line-height: 1.07;
  margin: 0 auto;  
  margin-bottom: 48px;
  
}

.hero-button {
  font-family:"Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4D5AE5;
  color: white;
  display: block;
  gap: 10px;
  border-radius: 4px;  
  width: 169px;
  height: 56px;
  min-width: 169px;   
  border: none;    
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  



.hero-button:hover, 
.hero-button:active,
.hero-button:focus
 {
  background-color: #404BBF;
  
}

/* section-2 */


.section-two {
  padding: 120px 0;
}



.title-two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-section-two {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 24px;
  
  
}


.item-section-two {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  
}

.con-icons {
   background-color: #f4f4fd;
   max-width: 100%;
   height: 112px;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   margin-bottom: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icons{
   margin: 24px 100px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.class-link-icon:hover,
.class-link-icon:focus {
  background-color: #404bbf;
}




.section-item-desk {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

margin-bottom: 8px;

}

.section-two-text{
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* our team */

.sectoin-our-team {
  background-color: #F4F4FD;
  padding: 120px 0;
  
  text-align: center;

}


.section-item-desk-our-team {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}


.list-team {
  display: flex;
  gap: 24px;

  
}


.item-our-team {
  background-color: #FFFFFF;
  width: calc((100% - 72px) /4); 
  border-radius: 0 0 4px 4px;  
}

.con-team {
  padding: 32px 0;
}

 .our-team-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
 }

 svg {
  fill: currentColor;
 }
 .list-icon {
   display: flex;
   gap: 24px;
   align-items: center;
  justify-content: center;
    flex-direction: row;
    margin-top: 8px;
 }

 .item-icon-team {
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #404BBF;
  
 }

 .icon-team {
  fill: #f4f4fd;
 }

.class-link-icon {
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

 /* Portfolio */




 .portfolio {
   padding-top: 120px;
   padding-bottom: 120px;
   align-items: center;
 }


.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   column-gap: 24px;
   row-gap: 48px;
 
}

.item-portfolio {
 width: calc((100% - 48px) /3);

}

.con-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}




/* footer */

.footer {
  background-color: #2E2F42;
  ;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  
  
 
}

.footer-logo-web {
  color: #F4F4FD;
}

.footer-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;


  
  max-width: 264px;
  
 
  
  
}